<h1>Listing cars</h1>
<br />

<div id='search'>
	<%= render 'cars/search' %>
</div>

<div id='home-list'>
	<p><b><u><%= link_to 'New Car', new_car_path %></u></b></p>
	<br/>
	<%= render 'cars/list_cars' %>
</div>

