<h1>Listing cars</h1>
<br />
<%= render 'search' %>

<%= render 'list_cars' %>

<br />

<% if @is_current_user_admin  %>    
  <%= link_to 'New Car', new_car_path, class: "btn btn-primary", :style=> "color: #FFFFFF" %>
<% end %>
